A fund manager may claim that it has a higher retrun; however, this may come at a cost of a riskier portfolio

In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
import yfinance as yfin
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG','^GSPC']
yfin.pdr_override() #  you ensure compatibility with the Yahoo Finance API changes and possibly improve the reliability and functionality of data retrieval from Yahoo Finance within your code
mydata = pd.DataFrame()
for t in tickers:
    mydata[t] = pdr.get_data_yahoo(t, start="2012-1-1", end="2016-12-30")['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
return_data = (mydata/mydata.shift(1) - 1)
return_data.head()

                  PG     ^GSPC
Date
2012-01-03       NaN       NaN
2012-01-04 -0.000449  0.000188
2012-01-05 -0.004192  0.002944
2012-01-06 -0.002405 -0.002537
2012-01-09  0.004220  0.002262

In [4]:
return_data[np.isnan(return_data)] = 0
return_data.head()

                  PG     ^GSPC
Date
2012-01-03  0.000000  0.000000
2012-01-04 -0.000449  0.000188
2012-01-05 -0.004192  0.002944
2012-01-06 -0.002405 -0.002537
2012-01-09  0.004220  0.002262

In [5]:
simple_return_d = mydata/mydata.shift(1)-1

In [6]:
simple_return_y = simple_return_d * 250

In [7]:
variance = (simple_return_y).var()
print('variance of annual return:\n',variance)

variance of annual return:
 PG       5.101220
^GSPC    4.086925
dtype: float64

In [8]:
covar = (simple_return_y).cov()
print('covariance of annual return:\n',covar)

covariance of annual return:
              PG     ^GSPC
PG     5.101220  2.519109
^GSPC  2.519109  4.086925

In [9]:
Beta = covar.iloc[0,1]/variance.iloc[1]
print(Beta)

0.6163824317875316

$$
  return_{expected} = (10 Year US Governemnt Bond Yield) + Beta * Market Risk Permimu
$$

10 Year US Governemnt Bond Yield = 2.5%

Market risk permimu = 5%

In [10]:
r_expected = 0.025 + Beta * 0.05
r_expected

0.05581912158937658

# sharp ratio

In [19]:
sharp_ratio = (r_expected - 0.025)/(simple_return_d['PG'].std()* 250 ** 0.5)
sharp_ratio

0.2157512146850882