1. The risk of a security is measured by variance and standard deviation. Standard deviation also tells us about the volatility of a security
2. In this code, we compare the risks associated with two securities.

In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
import yfinance as yfin
import matplotlib.pyplot as plt

In [2]:
tickers = ['VTI','QQQ']
yfin.pdr_override() #  you ensure compatibility with the Yahoo Finance API changes and possibly improve the reliability and functionality of data retrieval from Yahoo Finance within your code
mydata = pd.DataFrame()
for t in tickers:
    mydata[t] = pdr.get_data_yahoo(t, start="2021-1-6", end="2024-3-23")['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
mydata.head()

                   VTI         QQQ
Date
2021-01-06  186.567352  301.343109
2021-01-07  189.559555  308.633270
2021-01-08  190.477264  312.601654
2021-01-11  189.339661  308.084534
2021-01-12  190.008835  307.594543

In [4]:
mydata.tail()

                   VTI         QQQ
Date
2024-03-18  255.000000  437.480011
2024-03-19  256.470001  438.570007
2024-03-20  259.070007  443.769989
2024-03-21  260.140015  445.869995
2024-03-22  258.500000  446.380005

Annual return

In [9]:
return_data = (mydata/mydata.shift(1) - 1)
return_data

                 VTI       QQQ
Date
2021-01-06       NaN       NaN
2021-01-07  0.016038  0.024192
2021-01-08  0.004841  0.012858
2021-01-11 -0.005972 -0.014450
2021-01-12  0.003534 -0.001590
...              ...       ...
2024-03-18  0.005085  0.009537
2024-03-19  0.005765  0.002492
2024-03-20  0.010138  0.011857
2024-03-21  0.004130  0.004732
2024-03-22 -0.006304  0.001144

[808 rows x 2 columns]

In [10]:
return_data[np.isnan(return_data)] = 0
return_data

                 VTI       QQQ
Date
2021-01-06  0.000000  0.000000
2021-01-07  0.016038  0.024192
2021-01-08  0.004841  0.012858
2021-01-11 -0.005972 -0.014450
2021-01-12  0.003534 -0.001590
...              ...       ...
2024-03-18  0.005085  0.009537
2024-03-19  0.005765  0.002492
2024-03-20  0.010138  0.011857
2024-03-21  0.004130  0.004732
2024-03-22 -0.006304  0.001144

[808 rows x 2 columns]

In [11]:
avg_VTI = return_data['%s'%tickers[0]].mean()
print('averge annual return on %s'%tickers[0], avg_VTI)
std_VTI = return_data['%s'%tickers[0]].var()
print('annaul variance on %s'%tickers[0], std_VTI)
avg_QQQ = return_data['%s'%tickers[1]].mean()
print(' averge return on %s'%tickers[1], avg_QQQ)
std_QQQ = return_data['%s'%tickers[1]].var()
print('annual variance on %s'%tickers[1], std_QQQ)

averge annual return on VTI 0.00046638389202897554
annaul variance on VTI 0.00012546044629765826
averge annual return on QQQ 0.0005941614292540808
annual variance on QQQ 0.00021559421935834773

In [8]:
avg = (return_data).mean()
avg

VTI    0.116596
QQQ    0.148540
dtype: float64

In [9]:
std = (return_data).var()
std

VTI     7.841266
QQQ    13.474638
dtype: float64

covariance matrix

In [10]:
return_data.cov()

          VTI        QQQ
VTI  7.841266   9.651415
QQQ  9.651415  13.474638

In [12]:
return_data.corr()

          VTI       QQQ
VTI  1.000000  0.938943
QQQ  0.938943  1.000000