1. The risk of a security is measured by variance and standard deviation. Standard deviation also tells us about the volatility of a security
2. In this code, we compare the risks associated with two securities.

In [33]:
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
import yfinance as yfin
import matplotlib.pyplot as plt

In [34]:
tickers = ['GLD','QQQ']
yfin.pdr_override() #  you ensure compatibility with the Yahoo Finance API changes and possibly improve the reliability and functionality of data retrieval from Yahoo Finance within your code
mydata = pd.DataFrame()
for t in tickers:
    mydata[t] = pdr.get_data_yahoo(t, start="2021-1-6", end="2024-3-23")['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [35]:
mydata.head()

                   GLD         QQQ
Date
2021-01-06  179.899994  301.343140
2021-01-07  179.479996  308.633270
2021-01-08  173.339996  312.601624
2021-01-11  173.000000  308.084503
2021-01-12  174.119995  307.594574

In [36]:
mydata.tail()

                   GLD         QQQ
Date
2024-03-18  200.029999  437.480011
2024-03-19  199.800003  438.570007
2024-03-20  202.179993  443.769989
2024-03-21  201.970001  445.869995
2024-03-22  200.350006  446.380005

Annual return

In [37]:
return_data = (mydata/mydata.shift(1) - 1)
return_data

                 GLD       QQQ
Date
2021-01-06       NaN       NaN
2021-01-07 -0.002335  0.024192
2021-01-08 -0.034210  0.012858
2021-01-11 -0.001961 -0.014450
2021-01-12  0.006474 -0.001590
...              ...       ...
2024-03-18  0.001602  0.009537
2024-03-19 -0.001150  0.002492
2024-03-20  0.011912  0.011857
2024-03-21 -0.001039  0.004732
2024-03-22 -0.008021  0.001144

[808 rows x 2 columns]

In [38]:
return_data[np.isnan(return_data)] = 0
return_data

                 GLD       QQQ
Date
2021-01-06  0.000000  0.000000
2021-01-07 -0.002335  0.024192
2021-01-08 -0.034210  0.012858
2021-01-11 -0.001961 -0.014450
2021-01-12  0.006474 -0.001590
...              ...       ...
2024-03-18  0.001602  0.009537
2024-03-19 -0.001150  0.002492
2024-03-20  0.011912  0.011857
2024-03-21 -0.001039  0.004732
2024-03-22 -0.008021  0.001144

[808 rows x 2 columns]

In [39]:
avg_VTI = return_data['%s'%tickers[0]].mean()
print('averge return on %s'%tickers[0], avg_VTI)
std_VTI = return_data['%s'%tickers[0]].var()
print('variance on %s'%tickers[0], std_VTI)
avg_QQQ = return_data['%s'%tickers[1]].mean()
print('averge return on %s'%tickers[1], avg_QQQ)
std_QQQ = return_data['%s'%tickers[1]].var()
print('variance on %s'%tickers[1], std_QQQ)

averge return on GLD 0.00017124527577208257
variance on GLD 7.605549263111226e-05
averge return on QQQ 0.0005941613567463099
variance on QQQ 0.00021559432657546748

In [40]:
avg = (return_data).mean()
avg

GLD    0.000171
QQQ    0.000594
dtype: float64

In [41]:
std = (return_data).var()
std

GLD    0.000076
QQQ    0.000216
dtype: float64

covariance matrix

In [42]:
return_data.cov()

          GLD       QQQ
GLD  0.000076  0.000016
QQQ  0.000016  0.000216

In [43]:
return_data.corr()

          GLD       QQQ
GLD  1.000000  0.121696
QQQ  0.121696  1.000000

Equal weighting scheme:

In [44]:
weights = np.array([0.5,0.5])

portfolio variance

In [45]:
portfolio_var = np.dot(weights.T,np.dot(return_data.cov()*250, weights))
portfolio_var

0.020176030021617334

portfolio volatility

In [46]:
portfolio_vol = np.dot(weights.T,np.dot(return_data.cov()*250, weights)) ** 0.5
portfolio_vol

0.14204235291495748

In [47]:
print('portfolio volatility: ',100*portfolio_vol)

portfolio volatility:  14.204235291495749