A fund manager may claim that it has a higher retrun; however, this may come at a cost of a riskier portfolio

In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
import yfinance as yfin
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG','^GSPC']
yfin.pdr_override() #  you ensure compatibility with the Yahoo Finance API changes and possibly improve the reliability and functionality of data retrieval from Yahoo Finance within your code
mydata = pd.DataFrame()
for t in tickers:
    mydata[t] = pdr.get_data_yahoo(t, start="2019-02-02", end="2024-02-02")['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
return_data = (mydata/mydata.shift(1) - 1)
return_data.head()

                  PG     ^GSPC
Date
2019-02-04       NaN       NaN
2019-02-05 -0.006018  0.004708
2019-02-06  0.004926 -0.002224
2019-02-07 -0.007966 -0.009357
2019-02-08  0.005868  0.000676

In [4]:
return_data[np.isnan(return_data)] = 0
return_data.head()

                  PG     ^GSPC
Date
2019-02-04  0.000000  0.000000
2019-02-05 -0.006018  0.004708
2019-02-06  0.004926 -0.002224
2019-02-07 -0.007966 -0.009357
2019-02-08  0.005868  0.000676

In [5]:
simple_return_d = mydata/mydata.shift(1)-1

In [6]:
variance = (simple_return_d).var()
print('variance of daily return:\n',variance)

variance of daily return:
 PG       0.000177
^GSPC    0.000179
dtype: float64

In [7]:
covar = (simple_return_d).cov()
print('covariance of daily return:\n',covar)

covariance of daily return:
              PG     ^GSPC
PG     0.000177  0.000105
^GSPC  0.000105  0.000179

In [8]:
Beta = covar.iloc[0,1]/variance.iloc[1]
print(Beta)

0.584273366770673

$$
  return_{expected} = (10 Year US Governemnt Bond Yield) + Beta * Market Risk Permimu
$$

10 Year US Governemnt Bond Yield = 2.5%

Market risk permimu = 5%

In [9]:
r_expected = 0.025 + Beta * 0.05
r_expected

0.05421366833853365

# sharp ratio

In [10]:
sharp_ratio = (r_expected - 0.025)/(simple_return_d['PG'].std()* 250 ** 0.5)
sharp_ratio

0.1389504093922945