1. The risk of a security is measured by variance and standard deviation. Standard deviation also tells us about the volatility of a security
2. In this code, we compare the risks associated with two securities.

In [88]:
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
import yfinance as yfin
import matplotlib.pyplot as plt

In [89]:
tickers = ['BTC-USD','QQQ']
yfin.pdr_override() #  you ensure compatibility with the Yahoo Finance API changes and possibly improve the reliability and functionality of data retrieval from Yahoo Finance within your code
mydata = pd.DataFrame()
for t in tickers:
    mydata[t] = pdr.get_data_yahoo(t, start="2021-1-1", end="2024-3-23")['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [90]:
mydata.head()

                 BTC-USD         QQQ
Date
2018-01-01  13657.200195         NaN
2018-01-02  14982.099609  151.871964
2018-01-03  15201.000000  153.347641
2018-01-04  15599.200195  153.615936
2018-01-05  17429.500000  155.158707

In [91]:
mydata.tail()

                 BTC-USD         QQQ
Date
2024-03-18  67548.593750  437.480011
2024-03-19  61912.773438  438.570007
2024-03-20  67913.671875  443.769989
2024-03-21  65491.390625  445.869995
2024-03-22  63778.761719  446.380005

Annual return

In [92]:
return_data = (mydata/mydata.shift(1) - 1) * 250
return_data

              BTC-USD       QQQ
Date
2018-01-01        NaN       NaN
2018-01-02  24.252764       NaN
2018-01-03   3.652699  2.429147
2018-01-04   6.548914  0.437397
2018-01-05  29.333232  2.510759
...               ...       ...
2024-03-18  -3.078021       NaN
2024-03-19 -20.858392  0.622884
2024-03-20  24.231262  2.964169
2024-03-21  -8.916766  1.183049
2024-03-22  -6.537611  0.285963

[2273 rows x 2 columns]

In [93]:
return_data[np.isnan(return_data)] = 0
return_data

              BTC-USD       QQQ
Date
2018-01-01   0.000000  0.000000
2018-01-02  24.252764  0.000000
2018-01-03   3.652699  2.429147
2018-01-04   6.548914  0.437397
2018-01-05  29.333232  2.510759
...               ...       ...
2024-03-18  -3.078021  0.000000
2024-03-19 -20.858392  0.622884
2024-03-20  24.231262  2.964169
2024-03-21  -8.916766  1.183049
2024-03-22  -6.537611  0.285963

[2273 rows x 2 columns]

In [94]:
avg_VTI = return_data['%s'%tickers[0]].mean()
print('averge return on %s'%tickers[0], avg_VTI)
std_VTI = return_data['%s'%tickers[0]].var()
print('variance on %s'%tickers[0], std_VTI)
avg_QQQ = return_data['%s'%tickers[1]].mean()
print('averge return on %s'%tickers[1], avg_QQQ)
std_QQQ = return_data['%s'%tickers[1]].var()
print('variance on %s'%tickers[1], std_QQQ)

averge return on BTC-USD 0.3358040687129417
variance on BTC-USD 81.89941751450492
averge return on QQQ 0.11331313435630788
variance on QQQ 7.899504160581337

In [95]:
avg = (return_data).mean()
avg

BTC-USD    0.335804
QQQ        0.113313
dtype: float64

In [96]:
std = (return_data).var()
std

BTC-USD    81.899418
QQQ         7.899504
dtype: float64

covariance matrix

In [97]:
return_data.cov()

           BTC-USD       QQQ
BTC-USD  81.899418  6.335123
QQQ       6.335123  7.899504

In [98]:
return_data.corr()

          BTC-USD       QQQ
BTC-USD  1.000000  0.249066
QQQ      0.249066  1.000000