1. The risk of a security is measured by variance and standard deviation. Standard deviation also tells us about the volatility of a security
2. In this code, we compare the risks associated with two securities.

In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
import yfinance as yfin
import matplotlib.pyplot as plt

In [2]:
tickers = ['VTI','QQQ']
yfin.pdr_override() #  you ensure compatibility with the Yahoo Finance API changes and possibly improve the reliability and functionality of data retrieval from Yahoo Finance within your code
mydata = pd.DataFrame()
for t in tickers:
    mydata[t] = pdr.get_data_yahoo(t, start="2021-1-6", end="2024-3-23")['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
mydata.head()

                   VTI         QQQ
Date
2021-01-06  186.567337  301.343170
2021-01-07  189.559525  308.633240
2021-01-08  190.477249  312.601593
2021-01-11  189.339645  308.084534
2021-01-12  190.008850  307.594543

In [4]:
mydata.tail()

                   VTI         QQQ
Date
2024-03-18  255.000000  437.480011
2024-03-19  256.470001  438.570007
2024-03-20  259.070007  443.769989
2024-03-21  260.140015  445.869995
2024-03-22  258.500000  446.380005

Annual return

In [5]:
return_data = (mydata/mydata.shift(1) - 1) * 250
return_data

                 VTI       QQQ
Date
2021-01-06       NaN       NaN
2021-01-07  4.009528  6.047980
2021-01-08  1.210338  3.214457
2021-01-11 -1.493097 -3.612473
2021-01-12  0.883604 -0.397610
...              ...       ...
2024-03-18  1.271130  2.384345
2024-03-19  1.441178  0.622884
2024-03-20  2.534415  2.964169
2024-03-21  1.032547  1.183049
2024-03-22 -1.576088  0.285963

[808 rows x 2 columns]

In [6]:
return_data[np.isnan(return_data)] = 0
return_data

                 VTI       QQQ
Date
2021-01-06  0.000000  0.000000
2021-01-07  4.009528  6.047980
2021-01-08  1.210338  3.214457
2021-01-11 -1.493097 -3.612473
2021-01-12  0.883604 -0.397610
...              ...       ...
2024-03-18  1.271130  2.384345
2024-03-19  1.441178  0.622884
2024-03-20  2.534415  2.964169
2024-03-21  1.032547  1.183049
2024-03-22 -1.576088  0.285963

[808 rows x 2 columns]

In [7]:
avg_VTI = return_data['%s'%tickers[0]].mean()
print('averge return on %s'%tickers[0], avg_VTI)
std_VTI = return_data['%s'%tickers[0]].var()
print('variance on %s'%tickers[0], std_VTI)
avg_QQQ = return_data['%s'%tickers[1]].mean()
print('averge return on %s'%tickers[1], avg_QQQ)
std_QQQ = return_data['%s'%tickers[1]].var()
print('variance on %s'%tickers[1], std_QQQ)

averge return on VTI 0.11659597537955953
variance on VTI 7.841266397597113
averge return on QQQ 0.14854029294720306
variance on QQQ 13.474637764071463

In [8]:
avg = (return_data).mean()
avg

VTI    0.116596
QQQ    0.148540
dtype: float64

In [9]:
std = (return_data).var()
std

VTI     7.841266
QQQ    13.474638
dtype: float64

covariance matrix

In [10]:
return_data.cov()

          VTI        QQQ
VTI  7.841266   9.651415
QQQ  9.651415  13.474638

In [12]:
return_data.corr()

          VTI       QQQ
VTI  1.000000  0.938943
QQQ  0.938943  1.000000